
$primary-color: hsl(300, 43%, 22%);
$secondary-color: hsl(333, 80%, 67%);
$medium-color: hsl(303, 10%, 53%);
$light-color: hsl(300, 24%, 96%);
$p-color: #888;
$bg-top-img: url('../images/bg-pattern-top-desktop.svg');
$bg-bottom-img: url('../images/bg-pattern-bottom-desktop.svg');
$mobile-bg-top-img: url('../images/bg-pattern-top-mobile.svg');
$mobile-bg-bottom-img: url('../images/bg-pattern-bottom-mobile.svg');
$font-stack: 'Spartan', sans-serif;
$max-width-dktp: '140rem';